/part06-Part06_05.SantasWorkshop/target/
/part06-Part06_06.LongestInCollection/target/
/part06-Part06_07.HeightOrder/target/
/part06-Part06_08.CargoHold/target/
/part06-Part06_09.SimpleDictionary/target/
/part06-Part06_10.TodoList/target/
/part06-Part06_11.Averages/target/
/part06-Part06_12.JokeManager/target/
/part06-Part06_13.Exercises/target/
/part07-Part07_01.LiquidContainers/target/
/part07-Part07_03.Sorting/target/
/part07-Part07_02.LiquidContainers2/target/
/part07-Part07_05.Searching/target/
/part07-Part07_06.GradeStatistics/target/
/part07-Part07_07.RecipeSearch/target/
/part06-Part06_02.Stack/target/
/part07-Part07_08.BigYear/target/
/part01-Part01_11.VariousVariables/target/
/part01-Part01_12.IntegerInput/target/
/part01-Part01_14.BooleanInput/target/
/part01-Part01_17.SumOfTwoNumbers/target/
/part01-Part01_18.SumOfThreeNumbers/target/
/part01-Part01_19.AdditionFormula/target/
/part01-Part01_20.MultiplicationFormula/target/
/part01-Part01_21.AverageOfTwoNumbers/target/
/part01-Part01_22.AverageOfThreeNumbers/target/
/part01-Part01_30.LargerThanOrEqualTo/target/
/part02-Part02_02.SquareRootOfSum/target/
/part02-Part02_03.AbsoluteValue/target/
/part02-Part02_04.ComparingNumbers/target/
/part02-Part02_34.AdvancedAstrology/target/
/part02-Part02_21.InAHoleInTheGround/target/
/part02-Part02_28.Word/target/
/part03-Part03_11.IndexOfSmallest/target/
/part03-Part03_27.AVClub/target/
/part03-Part03_23.PrintThrice/target/
/part03-Part03_24.IsItTrue/target/
/part03-Part03_25.Login/target/
/part03-Part03_28.FirstWords/target/
/part03-Part03_29.LastWords/target/
/part03-Part03_30.AgeOfTheOldest/target/
/part03-Part03_31.NameOfTheOldest/target/
/part03-Part03_32.PersonalDetails/target/
/part06-Part06_04.PrintingACollection/target/
